.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex; align-items: center; justify-content: center;
  z-index: 9999;
}

.dialog {
  background: white;
  padding: 80px;
  border-radius: 10px;
  animation: zoomIn 0.3s ease-in-out;
}

@keyframes zoomIn {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}